@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Layout Global Classes */
.max-layout-width {
  width: min(1280px, 100%);
  
}
.border-black {
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity));
}
.container {
  width:100%;
  height: 512px;
  display: flex;
  flex-direction: column;
  gap:32px;
}

.component {
  padding: 100px;
}

.line-container {
  display: flex;
  justify-content: center;
}

.line {
  background-color: #222222;
  width: 80%;
  height: 1px;
  border-radius: 5px;
}